@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* body nav {
  height: 15vh;
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-inline: clamp(2rem, 5vw, 10rem);
}

* body nav .title {
  color: white;
  font-size: clamp(1rem, 2vw, 10rem);
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* body nav .logo {
  position: relative;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

* body nav .logo a,
* body nav .logo .icon {
  color: #212529;
  font-size: 1.5rem;
}

* body nav .logo .counter {
  position: absolute;
  background-color: red;
  top: -30%;
  right: -30%;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* body main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-block: 25px;
}

* body main .heading {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.5rem, 2vw, 10rem);
}

* body main .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

* body main .buttons .checkout {
  color: white;
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: green;
  border-radius: 5px;
  padding: 5px 5px;
  cursor: pointer;
}

* body main .buttons .clear {
  color: white;
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: red;
  border-radius: 5px;
  padding: 5px 5px;
  cursor: pointer;
}

* body main .buttons a .back {
  color: white;
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: black;
  border-radius: 5px;
  padding: 5px 5px;
  cursor: pointer;
}

* body main .card-container .card {
  margin-bottom: 20px;
  border: 2px solid #212529;
  position: relative;
  width: clamp(290px, 35vw, 100rem);
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* body main .card-container .card .cross {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  color: red;
  user-select: none;
  cursor: pointer;
  font-size: 1.25rem;
}

* body main .card-container .card .photo {
  width: 30%;
  height: 100%;
  background-image: url(./Images/img-1.jpg);
  background-position: center;
  background-size: cover;
}

* body main .card-container .card .text {
  padding: 15px 15px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

* body main .card-container .card .text .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

* body main .card-container .card .text .title .name {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 1.5vw, 10rem);
}

* body main .card-container .card .text .title .price {
  color: white;
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: black;
  border-radius: 5px;
  padding: 5px 5px;
  cursor: pointer;
  cursor: default;
}

* body main .card-container .card .text .qty {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

* body main .card-container .card .text .qty .increment {
  color: green;
  user-select: none;
  cursor: pointer;
  font-size: 1.25rem;
}

* body main .card-container .card .text .qty .decrement {
  color: red;
  user-select: none;
  cursor: pointer;
  font-size: 1.25rem;
}

* body main .card-container .card .text .qty .qty-value {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}

* body main .card-container .card .text .cost {
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: clamp(1.5rem, 1.5vw, 10rem);
}

